.App {
  text-align: center;
  background-color: #e9e9e9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.grow {
  flex-grow: unset;
}

.wrapper {
  padding: 20px;
}

.graph-row {
  float: left;
  padding: 20px;
  word-wrap: break-word;
}

.toolbarButtons {
  margin-left: 'auto',
}

.selections {
  text-align: left;
  padding: 20px
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}

.App-link {
  color: #61dafb;
}

.MuiAppBar {
  background-color: #cc0000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
