.App {
  text-align: center;
  font-size: 8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.responsivecontainer {
  height: 100%;
  width: 100%;
}

.adjustabletext {
  height: 60%;
  width: 60%;
}

.adjustabletextmobile {
  height: 95%;
  width: 95%;
}

.wrapper {
  padding: 20px;
}

.graph-row {
  float: left;
  padding: 20px;
  word-wrap: break-word;
}

.toolbarButtons {
  margin-left: 'auto',
}

.selections {
  text-align: left;
  padding: 20px
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}

.App-link {
  color: #61dafb;
}

.MuiAppBar {
  background-color: #ffffff !important;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #f2f2f2;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
